baseURL = 'https://nimburion.github.io/'
languageCode = 'en-us'
title = 'Nimburion Documentation'

[params]
  description = 'Production-ready Go framework for cloud-native microservices'

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.parser]
      [markup.goldmark.parser.attribute]
        block = true
        title = true
  [markup.highlight]
    style = 'github-dark'
    lineNos = false

[outputs]
  home = ['HTML']
  section = ['HTML']
  page = ['HTML']
